body {
  background:#4C4C4C
}

header {
  background:#4C4C4C;
  box-shadow: 0px 1px 0px #9D9D9D;
}

.nav_item a{
  color:#9D9D9D;
}

.nav_item:hover {
  border-bottom: 2px solid #9D9D9D;
  padding-bottom: 44px;
}

.foreword {
  color: #9D9D9D;
}

.foreword + p {
  color: #9D9D9D;
  border-bottom: 2px solid #9D9D9D;
}

p {
  color: #9D9D9D;
}
/*
background: #4C4C4C;
color:#9D9D9D;
