body {
  background: #FFFFFF;
}

header {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px #000000;
}

.nav__item .nav__item-link{
  color:#000000;
}

.nav__item:hover {
  border-bottom: 2px solid #000000;
  padding-bottom: 44px;
}

.foreword {
  color: #000000;
}

.foreword + .title-block__text {
  color: #000000;
  border-bottom: 2px solid #000000;
}

p {
  color:#000000;
}
