@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: RubikLight;
  src: url(../fonts/Rubik-Light.ttf);
}

body {
  padding-left: 100px;
  width: 1200px;
}

.container {
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
}

.logoimg {
  position: relative;
  align-self: center;
}

.signbox {
  padding: 0px;
  position: relative;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
/* identical to box height */
}

.signbox__item {
  margin-left: 30px;
  display: inline;
}

.signUp {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #F53855;
  box-sizing: border-box;
  padding: 10px 35px;
  border-radius: 50px;
  background-color: white;
  color: #F53855;
}

.signUp:hover {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #F53855;
  box-sizing: border-box;
  padding: 10px 35px;
  border-radius: 50px;
  background-color: #F53855;
  color: white;
}
.signIn {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: white;
}

.nav {
  position: relative;
  margin-top: 25px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.nav__item {
  margin-left: 30px;
  display: inline;
}
.nav__item-link {
  color: #4F5665;
  text-decoration: none;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.tagline {
  margin-bottom: 2%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
}

.message__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.startBtn {
  margin-top: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  background: #F53838;
  border-color: #F53838;
  border-radius: 10px;
  padding: 17.5px 77.5px;
  box-shadow: 0px 20px 20px -10px rgba(245, 56, 56, 0.35);
}

.info {
  display: flex;
  justify-content: space-around;
  margin-top: 103px;
  box-shadow: 0px 21px 25px -10px rgba(13, 16, 37, 0.06);
  height: 120px;
}

.info__block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  flex-grow: 1;
  border-right: 2px solid #EEEFF2;
}

.info__block:last-child {
  border-right: none;
}
.info__block__text {
  margin-left: 20px;
  font-family: Rubik;
  font-style: normal;
  line-height: 30px;
  color: #4F5665;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__block__text__header {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}


.decision {
  margin-bottom: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
}

.offering_description {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
}

.offering {
  margin-top: 133px;
}

.service {
  display: flex;
  justify-content: space-around;
}

.plan {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 76px 50px;
}

.plan:hover {
  border-color: #F53838;
}

.plan__image {
  align-self: center;
}
.plan__advantages {
  font-family: RubikLight;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  list-style: url(../img/check.png);
  flex-grow: 1;
}
.plan__advantages__item {
  padding-left: 25px;
  padding-bottom: 10px;
}

.price {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}

.plan__name {
  text-align: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.buybutton {
  padding: 13px 62.94px;
  align-self: center;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 50px;
  color: #F53838;
  border-color: #F53838;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.buybutton:hover {
  color: #FFFFFF;
  background-color: #F53838;
  box-shadow: 0px 20px 20px -10px rgba(245, 56, 56, 0.35);
}

.information {
  display: flex;
  padding-top: 100px;
}
.copyright {
  display: flex;
  flex-direction: column;
  flex-grow: 1.5;
}

.copyright__logo {
  align-self: flex-start;
}

.copyright__description {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.socmed {
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
}
.copyright__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0;
}

.links {
  display: flex;
  justify-content:space-between;
  flex-grow: 1;
}

.links__container {
  display: flex;
  flex-direction: column;
}

.links__container__element {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

.links__container-link {
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}
